version: "3.4"

services:
  postgresql:
    image: paradedb/paradedb:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres3.14
      POSTGRES_DB: fastapi-db
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis:/data

  rabbitmq:
    image: rabbitmq:4.1-management-alpine
    ports:
      - "5672:5672"
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin.com

volumes:
  redis:
